@import './../../../styles/colors.scss';

.modified {
  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;

  > * {
    background-clip: content-box;
    margin-bottom: 5px;
  }

  div {
    min-width: 50px;
    min-height: 10px;
  }

  .overall {
    &__list {
      font-size: 0.9em;
      margin: 0;
      list-style: none;
      text-align: left;
      -webkit-padding-start: 0;
      text-transform: uppercase;

      &__number {
        font-weight: bold;
      }

      li {
        margin-bottom: 2px;
      }
    }
  }
  .quantity {
    .selected {
      border: 2px solid black;
    }
    .row {
      display: flex;
      margin-bottom: 2px;
    }

    &__input {
      background-clip: content-box;
      border: none;
      border-radius: 0;
      text-align: center;
    }

    &__volume {
      font-weight: bold;
    }

    &__caption {
      display: block;
      padding: 0.375rem 0.75rem;
      text-transform: uppercase;
    }

    &__row {
      justify-content: space-between;
      justify-items: baseline;
    }

    &__row:nth-of-type(even)  {
        background-color: $row-distinction;
     } 

    .button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .remove-button {
      background-color: inherit;
      border: none;
      font-weight: bold;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      padding: 0;
    }
  }

  .buttons {
    &-row {
      padding: 0px;

      .btn {
        margin: 2px;
        width: 45px;
        height: 40px;
        border-radius: 0;
        border: 1px solid grey;

        &__plus {
          background-color: rgba(97, 219, 80, 0.8);
          &:hover {
            background-color: rgba(97, 219, 80, 1)!important;
            box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.2);
          }
        }
        
        &__minus {
          background-color: rgba(222, 23, 82, 0.8);
          &:hover {
            background-color: rgba(222, 23, 82, 1)!important;
            box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}
