@import '../../../styles/colors.scss';

.summary {
  background-color: $background-secondary;
  &__list {
    list-style: none;
    display: flex;

    li {
      display: block;
      font-size: 1em;
      font-weight: bold;
      text-transform: capitalize;
    }  
  }
}

.summary:nth-of-type(even) {
  background-color: $FrenchGrey;
}