@import '../../../styles/colors.scss';

.summary {
  background-color: $background-secondary;
  padding-top: 6px;

  &__line:nth-of-type(even) {
    background-color: $row-distinction;
  }

  &__list {
    list-style: none;
    display: flex;

    li {
      display: block;
      font-size: 1em;
      font-weight: bold;
      text-transform: capitalize;
    }  
  }
}
