@import '../../styles/colors.scss';

.login {
  margin-top: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $background-secondary;
  border-radius: 5px;

  &__form {
    justify-content: flex-start;

    &__label {
      display: block;
      padding-left: 8px;
      text-align: left;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}