$Anakiwa: #9ed8ff;
$Black: #000;
$Bombay: #AFB3B6;
$CornflowerBlue: #6195ED;
$FrenchGrey: #D6D6D6;
$SorrellBrown: #c4a97e;
$White: #ffffff;

$background-primary: #add8e6;
$background-secondary: #ffffff;

$error-text: #ff0000;
