@import '../../../styles/colors.scss';

.modal {
  &__body {
    &__description {
      padding-bottom: 10px;

      &__line {
        display: flex;
        align-items: baseline;
      }
    }
  }

  &--opaque {
    opacity: 0;
  }
}

.error-text {
  color: $error-text;
  font-size: 0.8em;
}
