.stash-config {
  &__line {
    display: flex;
    padding-bottom: 5px;

    &__input {
      max-width: 80px;
      margin-right: 5px;
    } 
  }
}

.remove-button {
  cursor: pointer;
  width: min-content;
  padding: 5px;
}