.empty-heading {
  display: flex;
  padding-bottom: 10px;
  
  input {
    font-size: 1.2em;
    width: 100%;
  }

  &__label {
    display: flex;
    margin: 0;
    margin-left: 12px;
  }

  .required::before {
    padding-left: 8px;
    color: red;
  }
}