@import './../../../styles/colors.scss';

.itemOverlay {
  background-color: $background-secondary;
  margin: 15px;
  padding: 15px;
}

.item {
  background-color: $background-secondary;
  border: 1px solid $background-grey;
  min-height: 200px;
  padding: 20px;

  &__loader {
    display: flex;
    justify-content: center;
  }

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }
}

